<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/shop/css/cssreset.css}">
    <link rel="stylesheet" th:href="@{/shop/css/login.css}">
    <script th:src="@{shop/js/jquery-3.3.1.min.js}"></script>


</head>
<body>
<div class="section">
    <div class="wrap">
        <div class="wrapup">
            <div class="login"><a href="./index.html"><img src="/shop/images/mi-logo.png" alt=""></a></div>
            <h4 th:href="">注册账号</h4>
            <div class="manjor">
                <form th:action="@{/shop/login/to}" method="post">
                    <div class="selectnub" >
                        <span class="nubhead" style="width: 110px">手机号/用户名</span>
                        <input type="text" name="userName" style="margin-left: 113px" class="phone" >
                    </div>
                    <div class="selectnub" style="min-width:500px">
                        <span class="nubhead" style="width: 110px">密码</span>
                        <input type="password" class="phone" name="password" style="margin-left: 113px" required>
                    </div>
                    <span class="tips"></span>
                    <button type="submit" class="submit">立即登录</button>
                </form>
            </div>

            <p class="agree">已阅读并同意：<a
                    href="https://static.account.xiaomi.com/html/agreement/user/zh_CN.html">用户协议</a>和 <a
                    href="https://static.account.xiaomi.com/html/privacy/account/zh_CN.html">隐私政策</a></p>
        </div>

        <p class="one">
            <a href="#">简体</a>
            <a href="#">繁体</a>
            <a href="#">English </a>
            <a href="#">常见问题</a>
        </p>
        <p class="two">京东公司版权所有-京ICP备10046444-
            <span><a href="#"><img src="/shop/images/polic.png" alt="">京公网安备11010802020134号-京ICP证110507号</a></span>
        </p>

    </div>
</div>
<script src="/shop/js/login.js"></script>
</body>
</html>
