<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>register</title>
	<link rel="stylesheet" href="../../static/shop/css/cssreset.css">
	<link rel="stylesheet" href="../../static/shop/css/register.css">
	<link rel="stylesheet" href="../../static/shop/css/iconfont.css">
    <script src="../../static/shop/js/iconfont.js"></script>
	<script src="../../static/shop/js/jquery-3.3.1.min.js"></script>
	<style>
			.icon {
			width: 1em;
			height: 1em;
			vertical-align: -0.15em;
			fill: currentColor;
			overflow: hidden;
			}
     </style>
</head>
<body>
	<div class="header">
		<a href="../index.html"><h1><img src="../../static/shop/images/mi-logo.png" alt=""></h1>
		<div class="logo">
			<h2>商城</h2>
             <span class="desc">让每个人都能享受购物的快乐</span>
             </a>
		</div>
	</div>

	<div class="content">
		<a href="#"><img src="../../static/shop/images/banne5.webp.jpg" alt=""></a>
		<div class="regerist">
			<ul class="title">
				<li class="current">账号登录</li>
				<li>扫码登录</li>
			</ul>
			<!-- 账号登录 -->
        <div class="account">
		<input type="text" class="numb" placeholder="邮箱/手机号码/小米ID">
		<input type="text" class="psw" placeholder="密码">
		<button type="submit">注册</button>
		<ol class="tip">
			<li class="one">手机短信登录/注册</li>
			<li class="two">立即注册 | 忘记密码</li>
		</ol>
		<span class="other">其它方式登录</span>
        <div class="little">
        	<a href="">
        		<svg class="icon qq" aria-hidden="true">
                <use xlink:href="#icon-qq"></use>
                </svg>
            </a>
            <a href="">
        		<svg class="icon weibo" aria-hidden="true">
                <use xlink:href="#icon-weibo"></use>
                </svg>
            </a>
            <a href="">
        		<svg class="icon zhifubao" aria-hidden="true">
                <use xlink:href="#icon-zhifubao"></use>
                </svg>
            </a>
            <a href="">
        		<svg class="icon weixin" aria-hidden="true">
                <use xlink:href="#icon-weixin"></use>
                </svg>
            </a>
   
        </div>
	</div>
		<!-- 扫码登录 -->
		 <div class="code">
		 	<div class="mcode"><img src="../../static/shop/images/code.png" alt=""></div>
		 	<p class="c1">使用商城APP扫一扫</p>
		 	<p class="c2">手机可打开「设置」>扫码登录</p>
		 </div>
		</div>
	</div>
	
	<script src="../../static/shop/js/register.js"></script>
</body>
</html>

<!-- 
<svg class="icon" aria-hidden="true">
  <use xlink:href="#icon-xxx"></use>
</svg> -->